table#assets {
  margin-bottom: 0;
}

table.index h4 {
   font-size: 110%;
   margin-top: .5em;
   margin-bottom: .25em;
 }
 table.index p {
   margin-top: .25em;
   margin-bottom: .5em;
 }
 table.index td.asset {
   width: 72px;
 }
 a.icon {
   height: 42px;
   width: 42px;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   padding: 3px;
   background-color:#eaeaea;
   border: 1px solid #ccc;
 }

 table.index td.asset-title, table.index td.tag-name {
   font-size: 115%;
   font-weight: bold;
 }
 table.index td.asset-title a, table.index td.tag-name a {
   text-decoration: none;
   color: black;
 }
 table.index td.asset-id,  {
   width: 40px;
   font-size: 105%;
   font-weight: normal;
 }
 table.index td.asset-tags,  {
   width: 180px;
   font-size: 105%;
   font-weight: normal;
 }
 table.index td.asset-tags a {
   color: black;
   text-decoration:none;
 }
 table td.asset-title a:hover, table.index td.asset-tags a:hover, table.index td.tag-name a:hover {
   color: blue;
   text-decoration: underline;
 }
 table .info {
   color: #9eb3bf;
   font-style: italic;
   font-weight: normal;
   margin: 10px;
 }
 #paging-controls {
   font-size: 100%;
   margin-bottom: 10px;
   border-bottom: 1px solid #eaeaea;
   background: #f7f7f7;
 }
 #paging-controls a {
   margin: 3px;
 }
 #bucket-container {
   clear: both;
   margin-top: 8px;
   margin-bottom: 16px;
   padding: 0;
   border: 1px solid #cdc295;
   background: white;
 }
 #bucket-container h4 {
   font-size: 100%;
   font-weight: bold;
   margin: 0;
   padding: 3px 10px;
   border-bottom: 1px solid #eaeaea;
   background: #eae3c5;
 }
 #bucket-container .note {
   font-size: 85%;
   font-weight: normal;
   color: black;
   margin-left: 10px;
 }
 a#clear-bucket {
   float: right;
   font-weight: normal;
   font-size: 85%;
 }
 #bucket-container p {margin: 0;}
 .add-to-bucket {
   width: 90px;
 }
 #bucket {list-style:none;}
 #bucket div {float:left; margin: 8px 0 8px 8px; }
 #bucket div a {
   height: 42px;
   width: 42px;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   padding: 3px;
   background-color:#eaeaea;
   border: 1px solid #ccc;
}
p#image-nav {
  margin-top: -10px; 
  margin-bottom: 25px; 
  font-weight: bold;
  font-size: 90%;
  color: silver;
}
p#image-nav a {
  text-decoration: none;
  color: black;
}
p#image-nav a:hover
 {
  text-decoration: underline;
  color: blue;
}

#content .form-area p.upload {margin: 2px 0; padding: 20px 10px; background: white; border: 1px solid gray;}
#content .form-area div.asset {margin: 2px 0; padding: 10px; background: white; border: 1px solid #cdc295;;}
#content label.assetname {margin-bottom: -5px;}
p#asset-name {padding-top: 8px; font-size: 80%;}
p.info {font-size: 85%; z-index}