- if @page.assets
  - @page.asset_associations.sort_by{ |a| a.position }.each do |assoc|
    = render :partial => "admin/asset/asset", :locals => { :asset => assoc.asset, :id_name => 'attachment' } 
  // - @page.assets.each do |asset|
  //  = render :partial => "admin/asset/asset", :locals => { :asset => asset, :id_name => 'attachment' }

%p{ :style => "clear:both;" }
