- unless @page.assets.empty?
  - @page.attachments.each do |a|
    = render :partial => "admin/asset/asset", :locals => { :asset => a.asset, :id_name => 'attachment' } 
    
- else
  %li
    %p
      %em You have no attached assets.
    



